.App {
  padding: 0%;
  margin: 0%;
  box-sizing: content-box;
  text-align: center;
}

input {
  margin: 4px;
}
#cont {
  position: relative;
  top: 58px;
  /* border: 1px solid; */
}
#navbar {
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  width: 100%;
  background-image: linear-gradient(
    to top,
    #b8235a 59%,
    #801357 71%,
    #3d1635 84%,
    #1c1a27 100%
  );
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  color: white;
  font-family: -webkit-pictograph;
}
button {
  font-family: cursive;
  padding: 6px;
  color: red;
  border-radius: 4px;
}
li {
  list-style-type: none;
  text-align: justify;
}
label {
  width: 100%;
  text-align: center;
  font-size: xx-large;
}
span {
  color: green;
}
img {
  width: 100%;
}
input {
  width: 75%;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  border-bottom: groove;
  margin: 0 15px;
  padding: 0;
  font-size: 20px;
}
form {
  padding: 10px;
}
@media only screen and (max-width: 400px) {
  #recipe {
    padding: 10px;
    margin: 10px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 800px) and (min-width: 400px) {
  #recipe {
    /* padding-top:20px ; */
    padding: 10px;
    margin: 10px;
    flex-basis: 40%;
    height: 82vh;
    overflow: hidden;
    /* border: 1px solid; */
  }
  div#recipecontiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 801px) {
  #recipe {
    /* padding-top:20px ; */
    padding: 10px;
    margin: 10px;
    width: 43%;
    flex-basis: 40%;
    height: auto;
    overflow: hidden;
    /* border: 1px solid; */
  }
  div#recipecontiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
